{% extends 'IlcfranceWorldspeakAdminFrontBundle::layout.html.twig' %} {%block breadcrumb%}
<ol class="breadcrumb">
  <li><a href="{{path('Admin__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
  <li><a href="{{path('Admin__locale_list')}}"><i class="fa fa-flag"></i> &nbsp; {{'breadcrumb.locale.list'|trans}}</a></li>
  <li class="active"><a href="{{path('Admin__locale_add_get')}}">{{icon('plus')}} &nbsp; {{'breadcrumb.locale.add'|trans}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block pagebody_content%}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-body">
	      {{form_start(localeAddForm, {'method':'POST', 'action': path('Admin__locale_add_post'), 'style': 'horizontal'})}}
	        {{form_row(localeAddForm.prefix, {'label_col': 3, 'widget_col': 1})}}
	        {{form_row(localeAddForm.name, {'label_col': 3, 'widget_col': 2})}}
	        {{form_row(localeAddForm.direction, {'label_col': 3, 'widget_col': 6})}}
	        {{form_row(localeAddForm.status, {'label_col': 3, 'widget_col': 6})}}
	        <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{'_action.btnAdd'|trans|raw}}</button></div></div>
	      {{form_end(localeAddForm)}}
      </div>
    </div>
  </div>
</div>
{%endblock pagebody_content%}