{% extends 'IlcfranceWorldspeakAdminFrontBundle::layout.html.twig' %} {%block breadcrumb%}
<ol class="breadcrumb">
  <li><a href="{{path('Admin__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
  <li><a href="{{path('Admin__teacher_list')}}">{{icon('user')}} &nbsp; {{'breadcrumb.teacher.list'|trans}}</a></li>
  <li class="active"><a href="{{path('Admin__teacher_add_get')}}">{{icon('plus')}} &nbsp; {{'breadcrumb.teacher.add'|trans}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block pagebody_content%}
<div class="row">
  <div class="col-lg-12">
    <div class="well text-right">
        <form action="{{ path('Admin__teacher_search') }}" method="get"  class="form-search form-inline">
            <div class="form-group">
	            <label for="q">{{'_search'|trans}}</label>
	            <input class="input-sm search-query" type="text" id="q" name="q" placeholder="{{'_keywords'|trans}}" value="" >
	        </div>
	        <div class="form-group">
	            <button class="btn btn-sm btn-primary" type="submit">{{icon('search')}}</button>
	        </div>
        </form>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        {{form_start(teacherAddForm, {'method':'POST', 'action': path('Admin__teacher_add_post'), 'style': 'horizontal'})}}
          {{form_row(teacherAddForm.username, {'label_col': 3, 'widget_col': 3, 'input_group': { 'append': icon('user') }})}}
          {{form_row(teacherAddForm.email, {'label_col': 3, 'widget_col': 3, 'input_group': { 'append': icon('envelope') }})}}
          {{form_row(teacherAddForm.lockout, {'label_col': 3, 'widget_col': 2, 'input_group': { 'append': icon('lock') }})}}
          {{form_row(teacherAddForm.type, {'label_col': 3, 'widget_col': 2})}}
          {{form_row(teacherAddForm.ftype, {'label_col': 3, 'widget_col': 2})}}
          {{form_row(teacherAddForm.coursPhone, {'label_col': 3, 'widget_col': 3, 'input_group': { 'append': icon('earphone') }, 'attr':{'placeholder':'_phone.format'}})}}
          {{form_row(teacherAddForm.sexe, {'label_col': 3, 'widget_col': 2})}}
	      {{form_row(teacherAddForm.lastName, {'label_col': 3, 'widget_col': 3})}}
	      {{form_row(teacherAddForm.firstName, {'label_col': 3, 'widget_col': 3})}}
	      {{form_row(teacherAddForm.preferedLocale, {'label_col': 3, 'widget_col': 3, 'input_group': { 'append': icon('flag') }})}}
          {{form_row(teacherAddForm.registerMail, {'label_col': 3, 'widget_col': 2, 'input_group': { 'append': icon('envelope') }})}}
          {{form_row(teacherAddForm.phone, {'label_col': 3, 'widget_col': 3, 'input_group': { 'append': icon('phone-alt') }, 'attr':{'placeholder':'_phone.format'}})}}
          {{form_row(teacherAddForm.mobile, {'label_col': 3, 'widget_col': 3, 'input_group': { 'append': icon('phone') }, 'attr':{'placeholder':'_phone.format'}})}}
          {{form_row(teacherAddForm.submit, {'label_col': 3,'widget_col': 2}) }}
        {{form_end(teacherAddForm)}}
      </div>
    </div>
  </div>
</div>
{%endblock pagebody_content%}