{%extends 'IlcfranceWorldspeakAdminFrontBundle::layout.html.twig'%} {%block breadcrumb%}
<ol class="breadcrumb">
    <li><a href="{{path('Admin__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
    <li><a href="{{path('Admin__teacher_list')}}">{{icon('user')}} &nbsp; {{'breadcrumb.teacher.list'|trans}}</a></li>
    <li class="active"><a href="{{path('Admin__teacher_availabilities', {'year': currentYear, 'week': currentWeek})}}">{{'breadcrumb.teacher.availabilities'|trans({'%year%':
            currentYear, '%week%': currentWeek})|raw}} {%if currentWeek < 10 %}{%set
            cweek='0'~currentWeek%}{%else%}{%set
            cweek=currentWeek%}{%endif%}({{sasedevphp_strtotime(currentYear~'-W'~cweek~'-1')|localizeddate('full', 'none', app.request.locale )|capitalize}}
            - {{sasedevphp_strtotime(currentYear~'-W'~cweek~'-7')|localizeddate('full', 'none', app.request.locale )|capitalize}})</a></li>
</ol>
{%endblock breadcrumb%} {%block pagebody_content%}
<div class="row">
    <div class="col-lg-12">
        <div class="well text-right">
            <form action="{{ path('Admin__teacher_search') }}" method="get" class="form-search form-inline">
                <div class="form-group">
                    <label for="q">{{'_search'|trans}}</label>
                    <input class="input-sm search-query" type="text" id="q" name="q"
                    placeholder="{{'_keywords'|trans}}" value="">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary" type="submit">{{icon('search')}}</button>
                </div>
            </form>
            <br>
            <form method="get" class="form-inline" id="gotoWeek">
                <div class="form-group">
                    <label for="changeWeek">{{'_week'|trans|capitalize}} :</label>
                    <select id="changeWeek" name="changeWeek">
                    {%for i in 1..countCurrentYearWeeks%} {%if i < 10 %}
                    {%set cweek='0'~i%}{%else%}{%set cweek=i%}{%endif%}
                        <option value="{{i}}" {%if i==currentWeek%} selected="selected" {%endif%}>
                            {{'_from'|trans|capitalize}}
                            {{sasedevphp_strtotime(currentYear~'-W'~cweek~'-1')|localizeddate('full', 'none', app.request.locale )|capitalize}}
                            {{'_to'|trans}}
                            {{sasedevphp_strtotime(currentYear~'-W'~cweek~'-7')|localizeddate('full', 'none', app.request.locale )|capitalize}}</option>
                    {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <button id="changePlanning" name="changePlanning" class="btn btn-sm btn-primary" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </form>
        </div>
        <div id="newTeacherAvailability" class="modal fade in" tabindex="-1" style="display: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center">{{'_pagetitleAdmin__teacherAvailability_add'|trans }}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                    {{form_start(teacherAvailabilityAddForm, {'method':'POST', 'action': path('Admin__teacherAvailability_modalAdd'), 'style': 'horizontal'})}}
                        {{form_row(teacherAvailabilityAddForm.teacher, {'label_col': 4, 'widget_col': 6, 'input_group': {'append': icon('user') }})}}
                        {{form_row(teacherAvailabilityAddForm.dtStart, {'label_col': 4, 'widget_col': 6, 'input_group': {'append': icon('time') }})}}
                        {{form_row(teacherAvailabilityAddForm.dtEnd, {'label_col': 4, 'widget_col': 6, 'input_group': {'append': icon('time') }})}}
                        <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{'_action.btnAdd'|trans|raw}}</button></div></div>
                    {{form_end(teacherAvailabilityAddForm)}}</div>
                </div>
            </div>
        </div>
        <br>
        <ul class="pager centred">
            <li class="previous">
                <a href="{{ path('Admin__teacher_availabilities', {'year':prevYear, 'week':prevWeek}) }}">
                    &laquo;&nbsp;{{'_prev'|trans }}</a></li>
            <li class="next">
                <a href="{{ path('Admin__teacher_availabilities', {'year':nextYear,'week':nextWeek}) }}">{{'_next'|trans }}
                    &nbsp;&raquo;</a></li>
        </ul>
        <div class="panel panel-warning">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#calendar" data-toggle="tab">{{'default.tab.Calendar'|trans|raw}}</a></li>
                    <li><a href="#list" data-toggle="tab">{{'default.tab.List'|trans|raw}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="calendar">
                        <br>
                        {%if closedDays|length<7%}
                        <div id="calendar"></div>
                        {%else%}
                        <br>
                        <br>
                        <br>
                        <div class="text-center">{{label_danger('_NA'|trans)}}</div>
                        <br>
                        <br>
                        <br>
                        {%endif%}
                    </div>
                    <div class="tab-pane fade" id="list">
                        <br>
                        <h3 class="legend">{{'default.tlabel.ClosedDays'|trans|raw}}</h3>
                        <br>
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>{{'ClosedDay.day'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for closedDay in closedDays%}
                                <tr>
                                    <td>{{closedDay.day|localizeddate('full', 'none', app.request.locale )|capitalize}}</td>
                                </tr>
                                {%else%}
                                <tr>
                                    <td class="warning">{{'ClosedDay.dbemptyWeek'|trans}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        <br>
                        <h3 class="legend">{{'default.tlabel.TeacherAvailabilities'|trans|raw}}</h3>
                        <br>
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>{{'TeacherAvailability.teacher'|trans}}</th>
                                    <th>{{'TeacherAvailability.dtStart'|trans}}</th>
                                    <th>{{'TeacherAvailability.dtEnd'|trans}}</th>
                                    <th class="oneBtn">{{ '_actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for teacherAvailability in teacherAvailabilities%}
                                <tr>
                                    <td>
                                        <a href="{{path('Admin__teacher_edit_get', {'id': teacherAvailability.teacher.id})}}">
                                       {{icon('user')}} {{teacherAvailability.teacher.fullname}}</a></td>
                                    <td>{{teacherAvailability.dtStart|localizeddate('full', 'none', app.request.locale )|capitalize}} {{'_at'|trans}}
                                        {{teacherAvailability.dtStart|localizeddate('long', 'none', app.request.locale)}}</td>
                                    <td>{{teacherAvailability.dtEnd|localizeddate('full', 'none', app.request.locale )|capitalize}} {{'_at'|trans}}
                                        {{teacherAvailability.dtEnd|localizeddate('long', 'none', app.request.locale)}}</td>
                                    <td><a class="btn btn-sm btn-info"
                                        href="{{path('Admin__teacher_planning', {'id': teacherAvailability.teacher.id,
                                        'year': currentYear, 'week': currentWeek})}}">{{icon('calendar')}}</a></td>
                                </tr>
                                {%else%}
                                <tr>
                                    <td colspan="4" class="warning">{{'TeacherAvailability.dbemptyWeek'|trans}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pager centred">
            <li class="previous">
                <a href="{{ path('Admin__teacher_availabilities', {'year':prevYear, 'week':prevWeek}) }}">
                    &laquo;&nbsp;{{'_prev'|trans }}</a></li>
            <li class="next">
                <a href="{{ path('Admin__teacher_availabilities', {'year':nextYear,'week':nextWeek}) }}">{{'_next'|trans }}
                    &nbsp;&raquo;</a></li>
        </ul>
    </div>
</div>
{%endblock pagebody_content%}

{%block dynamic_jstxt%}
var currentMousePos = {x: -1,y: -1};
function isElemOverDiv()
{
  var trashEl = $('#calendarTrash');
  var ofs = trashEl.offset();
  var x1 = ofs.left;
  var x2 = ofs.left + trashEl.outerWidth(true);
  var y1 = ofs.top;
  var y2 = ofs.top + trashEl.outerHeight(true);
  if (currentMousePos.x >= x1 && currentMousePos.x <= x2 && currentMousePos.y >= y1 && currentMousePos.y <= y2) {
    return true;
  }
  return false;
};
$(function()
  {
    $('#changePlanning').click(function()
        {
            var changeYear = '{{currentYear}}';
            var changeWeek = $('#changeWeek').val();
            var changeUrl = '{{path('Admin__teacher_availabilities')}}'+'/'+changeYear+'/'+changeWeek;
            window.location = changeUrl;
        }
    );
    var date = new Date("{{ weekDays[1]|date("m/d/Y") }}");
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var calendar = $('#calendar').fullCalendar(
      {
        editable: true,
        startEditable: true,
        durationEditable: true,
        dragRevertDuration: 0,
        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay) {
            var evStart = start.getTime();
            var evEnd = end.getTime();

            var dtStart = [start.getFullYear(), ("0" + (start.getMonth() + 1).toString()).substr(-2), ("0" + start.getDate().toString()).substr(-2)].join('-') + ' ' + start.toLocaleTimeString().substr(0,5)
            var dtEnd = [end.getFullYear(), ("0" + (end.getMonth() + 1).toString()).substr(-2), ("0" + end.getDate().toString()).substr(-2)].join('-') + ' ' + end.toLocaleTimeString().substr(0,5)

            $('#TeacherAvailabilityAddForm_dtStart').val(dtStart);
            $('#TeacherAvailabilityAddForm_dtEnd').val(dtEnd);

            $('#TeacherAvailabilityAddForm_dtStart').datetimepicker({
                weekStart: 1,
                startView: 0,
                minView: 0,
                maxView: 2,
                minuteStep: 30,
                autoclose: true,
                todayHighlight: true,
                initialDate: new Date().setTime(start.getTime()),
                language: "{{app.request.locale}}",
                format: 'yyyy-mm-dd hh:ii'
            });

            $('#TeacherAvailabilityAddForm_dtEnd').datetimepicker({
                weekStart: 1,
                startView: 0,
                minView: 0,
                maxView: 2,
                minuteStep: 30,
                autoclose: true,
                todayHighlight: true,
                initialDate: new Date().setTime(end.getTime()),
                language: "{{app.request.locale}}",
                format: 'yyyy-mm-dd hh:ii'
            });

            $('#newTeacherAvailability').modal('show');
            calendar.fullCalendar('unselect');
        },
        eventMouseover: function( event, jsEvent, view ) {
            $(this).mousemove(function (e) {
                var trashEl = $('#calendarTrash');
                if (isElemOverDiv()) {
                    if (!trashEl.hasClass("to-trash")) {
                        trashEl.addClass("to-trash");
                    }
                } else {
                    if (trashEl.hasClass("to-trash")) {
                        trashEl.removeClass("to-trash");
                    }
                }
            });
        },
        eventDragStop: function( event, jsEvent, ui, view ) {
            if (isElemOverDiv()) {
                var postdata = 'taId='+event.id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('Admin__teacherAvailability_ajaxDelete') }}",
                    data: postdata,
                    cache: false,
                    success: function(data, textStatus, jqXHR) {
                        console.log(data);
                        alert(data.msg);
                        location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown ) {
                        alert(jqXHR.responseText);
                    }
                });
            }
            calendar.fullCalendar('unselect');
        },
        eventDrop: function( event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view ) {
            var evStart = event.start.getTime();
            var evEnd = event.end.getTime();
            var postdata = 'start='+evStart+'&end='+evEnd+'&taId='+event.id;
            $.ajax({
                type: "POST",
                url: "{{ path('Admin__teacherAvailability_ajaxEdit') }}",
                data: postdata,
                cache: false,
                success: function(data, textStatus, jqXHR) {
                    console.log(data);
                    alert(data.msg);
                    location.reload();

                },
                error: function(jqXHR, textStatus, errorThrown ) {
                    alert(jqXHR.responseText);
                    revertFunc();
                }
            });
            calendar.fullCalendar('unselect');
        },
        eventResize: function( event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view ) {
            var evStart = event.start.getTime();
            var evEnd = event.end.getTime();
            var postdata = 'start='+evStart+'&end='+evEnd+'&taId='+event.id;
            $.ajax({
                type: "POST",
                url: "{{ path('Admin__teacherAvailability_ajaxEdit') }}",
                data: postdata,
                cache: false,
                success: function(data, textStatus, jqXHR) {
                    console.log(data);
                    alert(data.msg);
                    location.reload();
                },
                error: function(jqXHR, textStatus, errorThrown ) {
                    alert(jqXHR.responseText);
                    revertFunc();
                }
            });
            calendar.fullCalendar('unselect');
        },
{%if closedDays|length!=0%}
        hiddenDays: [
  {%for cd in closedDays%}
    {%set currentDay=cd.day|date("N")%}
    {%if currentDay==7%}{%set currentDay= 0%}{%endif%}
          {{currentDay}}{%if loop.last==false%},{% endif%}
  {%endfor%}
        ],
{%endif%}
{%if teacherAvailabilities|length!=0%}
        events: [
  {%for ev in teacherAvailabilities%}
          {
            id: '{{ ev.id }}',
            title:'{{'TeacherAvailability'|trans}}\n{{ev.teacher.fullname}}',
            start:new Date().setTime({{ ev.evStart}}),
            end:new Date().setTime({{ ev.evEnd}}),
            allDay:{{ev.allDay}},
            backgroundColor:'{{ev.backgroundColor}}',
            borderColor: '{{ev.borderColor}}',
            textColor : '{{ev.textColor}}',
            editable: {%if ev.teacher.type is constant('TYPE_INTERNAL', ev.teacher)%}true{%else%}false{%endif%},
            url: '{{path('Admin__teacher_planning', {'id': ev.teacher.id, 'year': currentYear, 'week': currentWeek})}}'
          }{%if loop.last==false%},{% endif%}
  {%endfor%}
        ],
{%endif%}
        header: {left: '',center: '', right: '' },
        contentHeight: 450,
        firstHour: 8,
        year : y,
        month: m,
        date : d,
        allDaySlot: false,
        slotMinutes: 30,
        defaultView: 'agendaWeek',
        firstDay: 1,
        ignoreTimezone: false,
        aspectRatio: 4,
        monthNames: {{'monthNames'|trans|raw}},
        monthNamesShort: {{'monthNamesShort'|trans|raw}},
        dayNames: {{'dayNames'|trans|raw}},
        dayNamesShort: {{'dayNamesShort'|trans|raw}},
        columnFormat: {week: 'dddd dd/MM/yyyy'},
        timeFormat: 'HH:mm{ - HH:mm}',
        axisFormat: 'HH:mm'
      }
    );
    $('.fc-header-right').append('<div id="calendarTrash" class="calendar-trash"><img src="{{asset('/bundles/ilcfranceworldspeaksharedres/images/cal-trash.png')}}" /></div>');
    $(document).on("mousemove", function (event)
      {
        currentMousePos.x = event.pageX; currentMousePos.y = event.pageY;
      }
    );
  }
);
{%endblock dynamic_jstxt%}