{% extends 'IlcfranceWorldspeakAdminFrontBundle::layout.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
  <li><a href="{{path('Admin__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
  <li><a href="{{path('Admin__teacher_list')}}">{{icon('user')}} &nbsp; {{'breadcrumb.teacher.list'|trans}}</a></li>
  <li class="active"><a href="{{path('Admin__teacher_listBuggy')}}"><i class="fa fa-bug"></i> &nbsp; {{'breadcrumb.teacher.listBuggy'|trans}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block pagebody_content%}
<div class="row">
  <div class="col-lg-12">
    <div class="well text-right">
      <form action="{{ path('Admin__teacher_search') }}" method="get"  class="form-search form-inline">
        <div class="form-group">
          <label for="q">{{'_search'|trans}}</label>
          <input class="input-sm search-query" type="text" id="q" name="q" placeholder="{{'_keywords'|trans}}" value="" >
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-primary" type="submit">{{icon('search')}}</button>
        </div>
      </form>
    </div>
    <div class="text-right">
      <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#newTeacher">{{'_action.btnAdd'|trans}} {{icon('plus')}}</button>
    </div>
    <div id="newTeacher" class="modal fade in" tabindex="-1" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="text-center">{{'_pagetitleAdmin__teacher_add'|trans }}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            {{form_start(teacherAddForm, {'method':'POST', 'action': path('Admin__teacher_add_post'), 'style': 'horizontal'})}}
              {{form_row(teacherAddForm.username, {'label_col': 3, 'widget_col': 6, 'input_group': { 'append': icon('user') }})}}
              {{form_row(teacherAddForm.email, {'label_col': 3, 'widget_col': 6, 'input_group': { 'append': icon('envelope') }})}}
              {{form_row(teacherAddForm.lockout, {'label_col': 3, 'widget_col': 5, 'input_group': { 'append': icon('lock') }})}}
              {{form_row(teacherAddForm.type, {'label_col': 3, 'widget_col': 5})}}
              {{form_row(teacherAddForm.ftype, {'label_col': 3, 'widget_col': 5})}}
              {{form_row(teacherAddForm.coursPhone, {'label_col': 3, 'widget_col': 6, 'input_group': { 'append': icon('earphone') }, 'attr':{'placeholder':'_phone.format'}})}}
              {{form_row(teacherAddForm.sexe, {'label_col': 3, 'widget_col': 4})}}
	          {{form_row(teacherAddForm.lastName, {'label_col': 3, 'widget_col': 6})}}
	          {{form_row(teacherAddForm.firstName, {'label_col': 3, 'widget_col': 6})}}
	          {{form_row(teacherAddForm.preferedLocale, {'label_col': 3, 'widget_col': 7, 'input_group': { 'append': icon('flag') }})}}
              {{form_row(teacherAddForm.registerMail, {'label_col': 3, 'widget_col': 5, 'input_group': { 'append': icon('envelope') }})}}
              {{form_row(teacherAddForm.phone, {'label_col': 3, 'widget_col': 6, 'input_group': { 'append': icon('phone-alt') }, 'attr':{'placeholder':'_phone.format'}})}}
              {{form_row(teacherAddForm.mobile, {'label_col': 3, 'widget_col': 6, 'input_group': { 'append': icon('phone') }, 'attr':{'placeholder':'_phone.format'}})}}
              {{form_row(teacherAddForm.submit, {'label_col': 3,'widget_col': 2}) }}
            {{form_end(teacherAddForm)}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="text-center">{{knp_pagination_render(teachers)}}</div>
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr>
              <th>{{'Teacher.fullname'|trans}}</th>
              <th>{{'Teacher.username'|trans}}</th>
              <th>{{'Teacher.email'|trans}}</th>
              <th>{{'Teacher.type'|trans}}</th>
              <th>{{'Teacher.ftype'|trans}}</th>
              <th>{{'Teacher.coursPhone'|trans}}</th>
              <th class="{%if is_granted('ROLE_SUPER_SUPER_ADMIN')%}fourBtn{%else%}threeBtn{%endif%}">{{ '_actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {%for teacher in teachers%}
            <tr>
              <td>{{teacher.fullname}}</td>
              <td>{{teacher.username}}</td>
              <td>
                {%if teacher.email is not empty%}<a href="mailto:{{teacher.email}}">{{teacher.email}}</a>{%else%}{{label_danger('_NA'|trans)}}{%endif%}
              </td>
              <td>
                {%if teacher.type is not null%}{{('Teacher.type.'~teacher.type)|trans|raw}}{%else%}{{label_danger('_NA'|trans)}}{%endif%}
              </td>
              <td>
                {%if teacher.ftype is not null%}{{('Teacher.ftype.'~teacher.ftype)|trans|raw}}{%else%}{{label_danger('_NA'|trans)}}{%endif%}
              </td>
              <td>
                {%if teacher.coursPhone is not null%}<a href="tel:{{teacher.coursPhone}}">{{icon('earphone')}} {{teacher.coursPhone}}</a>{%else%}{{label_danger('_NA'|trans)}}{%endif%}
              </td>
              <td>
                <a class="btn btn-sm btn-primary" href="{{path('Admin__teacher_planning',{'id':teacher.id})}}">{{icon('calendar')}}</a>
                <a class="btn btn-sm btn-info" href="{{path('Admin__teacher_edit_get',{'id':teacher.id})}}">{{icon('edit')}}</a>
                {%if is_granted('ROLE_SUPER_SUPER_ADMIN')%}
                <a class="btn btn-sm btn-success" href="{{path('Admin__teacher_logs_get',{'id':teacher.id})}}">{{icon('bullhorn')}}</a>
                {%endif%}
                <a class="btn btn-sm btn-danger deleteConfirmTeacher" href="{{path('Admin__teacher_delete', {'id': teacher.id})}}">{{icon('remove')}}</a>
              </td>
            </tr>
            {%else%}
            <tr>
              <td colspan="7" class="warning">{{'Teacher.dbemptyBuggy'|trans}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        <div class="text-center">{{knp_pagination_render(teachers)}}</div>
      </div>
    </div>
  </div>
</div>
<div id="deleteConfirmTeacher" class="modal fade in" tabindex="-1" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="text-center">{{'Teacher.deleteConfirm'|trans|raw}}</h3>
  </div>
  <div class="modal-body">
    {{'Teacher.deleteConfirm.txt'|trans|raw}}
  </div>
  <div class="modal-footer">
    <a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
  </div>
</div>
{%endblock pagebody_content%}
{%block dynamic_jstxt%}
$(function()
  {
    $('.deleteConfirmTeacher').click(function(e)
      {
        e.preventDefault();
        var lnk = $(this).attr('href');
        modalDeleteBtn = $('#deleteConfirmTeacher').find('.danger');
        modalDeleteBtn.attr('href', lnk);
        $('#deleteConfirmTeacher').modal('show');
      }
    );
  }
);
{%endblock dynamic_jstxt%}