{% extends 'IlcfranceWorldspeakAdminFrontBundle::layout.html.twig' %} {%block breadcrumb%}
<ol class="breadcrumb">
    <li class="active"><a href="{{path('Admin__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
</ol>
{%endblock breadcrumb%} {%block pagebody_content%}
<div class="row">
    <div class="col-lg-12">{{render(controller('IlcfranceWorldspeakAdminFrontBundle:Widget:whoIsOnline')) }}</div>
</div>
<div class="row">
    <div class="col-lg-6">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:teachingResources.html.twig')}}</div>
    <div class="col-lg-6">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:companies.html.twig')}}</div>
</div>
<div class="row">
    <div class="col-lg-4">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:admins.html.twig')}}</div>
    <div class="col-lg-4">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:teachers.html.twig')}}</div>
    <div class="col-lg-4">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:trainees.html.twig')}}</div>
</div>
<div class="row">
    <div class="col-lg-6">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:timeCredits.html.twig')}}</div>
    <div class="col-lg-6">{{include('IlcfranceWorldspeakAdminFrontBundle:Widget:courses.html.twig')}}</div>
</div>
{%if is_granted('ROLE_SUPER_SUPER_ADMIN')%}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-excel"></i> &nbsp; Importer depuis Excel</h3>
            </div>
            <div class="panel-body">
            {{form_start(excelImportForm, {'method':'POST', 'action': path('Admin__default_excel'), 'style': 'horizontal'})}}
                {{form_row(excelImportForm.file, {'label_col': 3, 'widget_col': 7 })}}
                {{form_row(excelImportForm.submit, {'label_col': 3,'widget_col': 2}) }}
            {{form_end(excelImportForm)}}
            </div>
        </div>
    </div>
</div>
{%endif%}
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="well text-right">
            <form method="get" class="form-inline" id="gotoWeek">
                <div class="form-group">
                    <label for="changeWeek">{{'_week'|trans|capitalize}} :</label>
                    <select id="changeWeek" name="changeWeek">
                        {%for i in 1..countCurrentYearWeeks%}
                        {%if i < 10 %}{%set cweek='0'~i%}{%else%}{%set cweek=i%}{%endif%}
                        <option value="{{i}}" {%if i==currentWeek%} selected="selected"{%endif%}>
                            {{'_from'|trans|capitalize}}
                            {{sasedevphp_strtotime(currentYear~'-W'~cweek~'-1')|localizeddate('full', 'none', app.request.locale )|capitalize}}
                            {{'_to'|trans}}
                            {{sasedevphp_strtotime(currentYear~'-W'~cweek~'-7')|localizeddate('full', 'none', app.request.locale )|capitalize}}
                        </option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <button id="changePlanning" name="changePlanning" class="btn btn-sm btn-primary" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </form>
        </div>
        <ul class="pager centred">
            <li class="previous"><a href="{{ path('Admin__default_planning', {'year':prevYear, 'week':prevWeek}) }}">
                &laquo;&nbsp;{{'_prev'|trans }}</a></li>
            <li class="next"><a href="{{ path('Admin__default_planning', {'year':nextYear,'week':nextWeek}) }}">
                {{'_next'|trans }}&nbsp;&raquo;</a></li>
        </ul>
        <div class="panel panel-warning">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#calendar" data-toggle="tab">{{'default.tab.Calendar'|trans|raw}}</a></li>
                    <li><a href="#list" data-toggle="tab">{{'default.tab.List'|trans|raw}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="calendar">
                        <br>
                        {%if closedDays|length<7%}
                        <div id="calendar"></div>
                        {%else%}
                        <br>
                        <br>
                        <br>
                        <div class="text-center">{{label_danger('_NA'|trans)}}</div>
                        <br>
                        <br>
                        <br>
                        {%endif%}
                    </div>
                    <div class="tab-pane fade" id="list">
                        <br>
                        <h3 class="legend">{{'default.tlabel.ClosedDays'|trans|raw}}</h3>
                        <br>
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>{{'ClosedDay.day'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for closedDay in closedDays%}
                                <tr>
                                    <td>{{closedDay.day|localizeddate('full', 'none', app.request.locale )|capitalize}}</td>
                                </tr>
                                {%else%}
                                <tr>
                                    <td class="warning">{{'ClosedDay.dbemptyWeek'|trans}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        <br>
                        <h3 class="legend">{{'default.tlabel.TeacherAvailabilities'|trans|raw}}</h3>
                        <br>
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>{{'TeacherAvailability.teacher'|trans}}</th>
                                    <th>{{'TeacherAvailability.dtStart'|trans}}</th>
                                    <th>{{'TeacherAvailability.dtEnd'|trans}}</th>
                                    <th class="oneBtn">{{ '_actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for teacherAvailability in teacherAvailabilities%}
                                <tr>
                                    <td>
                                        <a href="{{path('Admin__teacher_edit_get', {'id': teacherAvailability.teacher.id})}}">
                                        {{icon('user')}} {{teacherAvailability.teacher.fullname}}</a></td>
                                    <td>{{teacherAvailability.dtStart|localizeddate('full', 'none', app.request.locale )|capitalize}} {{'_at'|trans}}
                                        {{teacherAvailability.dtStart|localizeddate('long', 'none', app.request.locale)}}</td>
                                    <td>{{teacherAvailability.dtEnd|localizeddate('full', 'none', app.request.locale )|capitalize}} {{'_at'|trans}}
                                        {{teacherAvailability.dtEnd|localizeddate('long', 'none', app.request.locale)}}</td>
                                    <td><a class="btn btn-sm btn-info"
                                        href="{{path('Admin__teacher_planning', {'id': teacherAvailability.teacher.id,
                                        'year': currentYear, 'week': currentWeek})}}">{{icon('calendar')}}</a></td>
                                </tr>
                                {%else%}
                                <tr>
                                    <td colspan="4" class="warning">{{'TeacherAvailability.dbemptyWeek'|trans}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        <br>
                        <h3 class="legend">{{'default.tlabel.Cours'|trans|raw}}</h3>
                        <br>
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Cours.trainee'|trans}}</th>
                                    <th>{{'Cours.dtStart'|trans}}</th>
                                    <th>{{'Cours.duration'|trans}}</th>
                                    <th>{{'Cours.type'|trans}}</th>
                                    <th>{{'Cours.phone'|trans}}</th>
                                    <th>{{'Cours.teacher'|trans}}</th>
                                    <th>{{'Cours.status'|trans}}</th>
                                    <th class="twoBtn">{{ '_actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for cours in courses%}
                                <tr {%if cours.buggy is constant('HEALTH_BUGGY', cours)%}class="danger"{%endif%}>
                                    <td>
                                        <a href="{{path('Admin__trainee_edit_get', {'id': cours.timeCredit.trainee.id})}}">
                                            <i class="fa fa-user"></i> {{cours.timeCredit.trainee.fullname}}
                                        </a>
                                    </td>
                                    <td>
                                        {{cours.dtStart|localizeddate('full', 'none', app.request.locale )|capitalize}} {{'_at'|trans}}
                                        {{cours.dtStart|localizeddate('long', 'none', app.request.locale)}}
                                    </td>
                                    <td>
                                        {{cours.duration}} {{'_minutes'|trans}}
                                    </td>
                                    <td>
                                        {%if cours.type is not null and cours.type is not constant('TYPE_UNDEFINED', cours)%}
                                        {{('Cours.type.'~cours.type)|trans}}
                                        {%else%}
                                        {{label_danger(('Cours.type.'~constant('TYPE_UNDEFINED', cours))|trans)}}
                                        {%endif%}
                                    </td>
                                    <td>
                                        {%if cours.phone is not empty%}
                                        <a href="tel:{{cours.phone}}">{{icon('earphone')}} {{cours.phone}}</a>
                                        {%else%}
                                        {{label_danger('_NA'|trans)}}
                                        {%endif%}
                                    </td>
                                    <td>
                                        {%if cours.teacher is not null%}
                                        <a href="{{path('Admin__teacher_edit_get', {'id': cours.teacher.id})}}">
                                            {{icon('user')}} {{cours.teacher.fullname}}
                                        </a>
                                        {%else%}
                                        {{label_danger('_NA'|trans)}}
                                        {%endif%}
                                    </td>
                                    <td>
                                        {%if cours.status is not null
                                        and cours.status is not constant('STATUS_PLANNED_PENDING', cours)%}
                                        {{('Cours.status.'~cours.status)|trans}}
                                        {%elseif cours.status is constant('STATUS_PLANNED_PENDING', cours)%}
                                        {{label_danger(('Cours.status.'~cours.status)|trans)}}
                                        {%else%}
                                        {{label_danger('_NA'|trans)}}
                                        {%endif%}
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-info"
                                        href="{{path('Admin__cours_edit_get',{'id':cours.id})}}">{{icon('edit')}}</a>
                                        {%if cours.status is null
                                        or cours.status is constant('STATUS_PLANNED', cours)
                                        or cours.status is constant('STATUS_PLANNED_PENDING', cours)
                                        or cours.status is constant('STATUS_ABSENT', cours)%}
                                        <a class="btn btn-sm btn-danger deleteConfirmCours"
                                        href="{{path('Admin__cours_delete', {'id': cours.id})}}">
                                        {{icon('remove')}}</a>
                                        {%endif%}
                                    </td>
                                </tr>
                                {%else%}
                                <tr>
                                    <td colspan="8" class="warning">{{'Cours.dbemptyWeek'|trans}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pager centred">
            <li class="previous"><a href="{{ path('Admin__default_planning', {'year':prevYear, 'week':prevWeek}) }}">
                &laquo;&nbsp;{{'_prev'|trans }}</a></li>
            <li class="next"><a href="{{ path('Admin__default_planning', {'year':nextYear,'week':nextWeek}) }}">
                {{'_next'|trans }}&nbsp;&raquo;</a></li>
        </ul>
    </div>
</div>
<div id="deleteConfirmCours" class="modal fade in" tabindex="-1" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="text-center">{{'Cours.deleteConfirm'|trans|raw}}</h3>
    </div>
    <div class="modal-body">{{'Cours.deleteConfirm.txt'|trans|raw}}</div>
    <div class="modal-footer">
        <a href="" class="btn btn-xs btn-danger danger">{{'_yes'|trans|raw}}</a>
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'_no'|trans|raw}}</button>
    </div>
</div>
{%endblock pagebody_content%}

{%block dynamic_jstxt%}
var currentMousePos = {x: -1,y: -1};
$(function()
  {
        $('.deleteConfirmCours').click(function(e)
            {
                e.preventDefault();
                var lnk = $(this).attr('href');
                modalDeleteBtn = $('#deleteConfirmCours').find('.danger');
                modalDeleteBtn.attr('href', lnk);
                $('#deleteConfirmCours').modal('show');
            }
        );
    $('#changePlanning').click(function()
        {
            var changeYear = '{{currentYear}}';
            var changeWeek = $('#changeWeek').val();
            var changeUrl = '/'+changeYear+'/'+changeWeek;
            window.location = changeUrl;
        }
    );
    var date = new Date("{{ weekDays[1]|date("m/d/Y") }}");
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    $('#calendar').fullCalendar(
      {
{%if closedDays|length!=0%}
        hiddenDays: [
  {%for cd in closedDays%}
    {%set currentDay=cd.day|date("N")%}
    {%if currentDay==7%}{%set currentDay= 0%}{%endif%}
          {{currentDay}}{%if loop.last==false%},{% endif%}
  {%endfor%}
        ],
{%endif%}
{%if teacherAvailabilities|length!=0 or courses|length!=0%}
        events: [
  {%for ev in teacherAvailabilities%}
          {
            id: '{{ ev.id }}',
            title:'{{'TeacherAvailability'|trans}} {{ ev.teacher.fullname }}',
            start:new Date().setTime({{ ev.evStart}}),
            end:new Date().setTime({{ ev.evEnd}}),
            allDay:{{ev.allDay}},
            backgroundColor:'{{ev.backgroundColor}}',
            borderColor: '{{ev.borderColor}}',
            textColor : '{{ev.textColor}}',
            editable: false,
            url: '{{path('Admin__teacher_planning', {'id': ev.teacher.id, 'year': currentYear, 'week': currentWeek})}}'
          }{%if loop.last==false%},{% endif%}
  {%endfor%}
  {%if teacherAvailabilities|length!=0 and courses|length!=0%},{% endif%}
  {%for ev in courses%}
          {
            id: '{{ ev.id }}',
            title:'{{ev.timeCredit.trainee.fullname}}',
            start:new Date().setTime({{ ev.evStart}}),
            end:new Date().setTime({{ ev.evEnd}}),
            allDay:{{ev.allDay}},
            backgroundColor:'{{ev.backgroundColor}}',
            borderColor: '{{ev.borderColor}}',
            textColor : '{{ev.textColor}}',
            editable: false,
            url: '{{path('Admin__cours_edit_get', {'id': ev.id})}}'
          }{%if loop.last==false%},{% endif%}
  {%endfor%}
        ],
{%endif%}
        header: {left: '',center: '', right: '' },
        contentHeight: 450,
        firstHour: 8,
        year : y,
        month: m,
        date : d,
        allDaySlot: false,
        slotMinutes: 30,
        defaultView: 'agendaWeek',
        firstDay: 1,
        ignoreTimezone: false,
        aspectRatio: 4,
        monthNames: {{'monthNames'|trans|raw}},
        monthNamesShort: {{'monthNamesShort'|trans|raw}},
        dayNames: {{'dayNames'|trans|raw}},
        dayNamesShort: {{'dayNamesShort'|trans|raw}},
        columnFormat: {week: 'dddd dd/MM/yyyy'},
        timeFormat: 'HH:mm{ - HH:mm}',
        axisFormat: 'HH:mm',
        editable: false
      }
    );
  }
);
{%endblock dynamic_jstxt%}