{% extends 'IlcfranceWorldspeakTraineeFrontBundle::layout.html.twig' %} {%block breadcrumb%}
<ol class="breadcrumb">
    <li><a href="{{path('Trainee__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
    <li class="active"><a href="{{path('Trainee__timeCredit_surveyBegin_get', {'id': timeCredit.id})}}">{{ icon('thumbs-up') }} &nbsp; {{'breadcrumb.timeCredit.surveyBegin'|trans}}</a></li>
</ol>
{%endblock breadcrumb%} {%block pagebody_content%}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-body">
                {{form_start(surveyBeginForm, {'method':'POST', 'action': path('Trainee__timeCredit_surveyBegin_post', {'id': timeCredit.id}), 'style': 'horizontal'})}}
                    {{form_row(surveyBeginForm.surveyBeginQ01, {'label_col': 3, 'widget_col': 3})}}
                    {{form_row(surveyBeginForm.surveyBeginQ02, {'label_col': 3, 'widget_col': 3})}}
                    {{form_row(surveyBeginForm.surveyBeginQ03, {'label_col': 3, 'widget_col': 3})}}
                    {{form_row(surveyBeginForm.surveyBeginQ04, {'label_col': 3, 'widget_col': 3})}}
                    {{form_row(surveyBeginForm.surveyBeginQ05, {'label_col': 3, 'widget_col': 3})}}
                    {{form_row(surveyBeginForm.surveyBeginQ06, {'label_col': 3, 'widget_col': 3})}}
                    {{form_row(surveyBeginForm.surveyBeginQ07, {'label_col': 3, 'widget_col': 7, 'attr': {'class': 'wysiwyg'} })}}
                    {{form_row(surveyBeginForm.surveyBeginQ08, {'label_col': 3, 'widget_col': 7, 'attr': {'class': 'wysiwyg'} })}}
                    {{form_row(surveyBeginForm.submit, {'label_col': 3,'widget_col': 2}) }}
                {{form_end(surveyBeginForm)}}
            </div>
        </div>
    </div>
</div>
{%endblock pagebody_content%}
{%block dynamic_jstxt%}
$(function()
    {
        $('textarea.wysiwyg').each(function()
	      {
	        var options =
	        {
	          script_url : '{{asset('res/bower_components/tinymce/tinymce.min.js')}}',
	          theme: "modern",
	          plugins: [ "advlist autolink lists link image charmap print preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "insertdatetime media nonbreaking save table contextmenu directionality", "emoticons template paste textcolor" ],
	          toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons"
	        };
	        $this = $(this);
	        if($this.is('[required]'))
	        {
	          options.oninit = function(editor)
	            {
	              editor.on('change', function(e)
	                {
	                  editor.save();
	                }
	              );
	            }
	        }
	        $this.tinymce(options);
	      }
	    );
    }
);
{%endblock dynamic_jstxt%}
