{% extends 'IlcfranceWorldspeakAdminFrontBundle::layout.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
  <li><a href="{{path('Admin__default_homepage')}}">{{icon('home')}} &nbsp; {{'breadcrumb.homepage'|trans}}</a></li>
  <li><a href="{{path('Admin__trainee_list')}}"><i class="fa fa-user"></i> &nbsp; {{'breadcrumb.trainee.list'|trans}}</a></li>
  <li><a href="{{path('Admin__timeCredit_list')}}">{{icon('time')}} &nbsp; {{'breadcrumb.timeCredit.list'|trans}}</a></li>
  <li class="active"><a href="{{path('Admin__timeCredit_listBuggy')}}"><i class="fa fa-bug"></i> &nbsp; {{'breadcrumb.timeCredit.listBuggy'|trans}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block pagebody_content%}
<div class="row">
    <div class="well text-right">
        <form action="{{ path('Admin__timeCredit_search') }}" method="get"  class="form-search form-inline">
            <div class="form-group">
	            <label for="q">{{'_search'|trans}}</label>
	            <input class="input-sm" type="text" id="q" name="q" placeholder="{{'_keywords'|trans}}" value="" >
	        </div>
	        <div class="form-group">
	            <button class="btn btn-sm btn-primary" type="submit">{{icon('search')}}</button>
	        </div>
        </form>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="text-center">{{knp_pagination_render(timeCredits)}}</div>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>{{'TimeCredit.trainee'|trans}}</th>
                        <th>{{'Trainee.project'|trans}}</th>
                        <th>{{'TimeCredit.ftype'|trans}}</th>
                        <th>{{'TimeCredit.level'|trans}}</th>
                        <th>{{'TimeCredit.totalHours'|trans}}</th>
                        <th>{{'TimeCredit.reservedHours'|trans}}</th>
                        <th>{{'TimeCredit.notPlanifiedHours'|trans}}</th>
                        <th>{{'TimeCredit.doneHours'|trans}}</th>
                        <th>{{'TimeCredit.lostHours'|trans}}</th>
                        <th>{{'TimeCredit.cefBegin'|trans}}</th>
                        <th>{{'TimeCredit.cefEnd'|trans}}</th>
                        <th>{{'TimeCredit.deadLine'|trans}}</th>
                        <th>{{'TimeCredit.status'|trans}}</th>
                        <th class="oneBtn">{{ '_actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for timeCredit in timeCredits%}
                    <tr>
                        <td>
                            <a href="{{path('Admin__trainee_edit_get', {'id': timeCredit.trainee.id})}}">
                            <i class="fa fa-user"></i> {{timeCredit.trainee.fullname2}}
                            </a>
                        </td>
                        <td>
                            {%if timeCredit.trainee.project is not empty%}
                            {{timeCredit.trainee.project|raw}}
                            {%else%}
                            {{label_warning('_NA'|trans)}}
                            {%endif%}
                        </td>
                        <td>
                            {%if timeCredit.ftype is not null
                                and timeCredit.ftype is not constant('FTYPE_UNDEFINED', timeCredit)%}
                                {{('TimeCredit.ftype.'~timeCredit.ftype)|trans}}
                            {%else%}
                                {{label_danger('_NA'|trans)}}
                            {%endif%}
                        </td>
                        <td>
                            {%if timeCredit.level is not null
                                and timeCredit.level is not constant('LEVEL_UNDEFINED', timeCredit)%}
                                {{('TimeCredit.level.'~timeCredit.level)|trans}}
                            {%else%}
                                {{label_danger('_NA'|trans)}}
                            {%endif%}
                        </td>
                        <td>{{timeCredit.totalHours}}</td>
                        <td>{{timeCredit.reservedHours}}</td>
                        <td class="warning">{{timeCredit.notPlanifiedHours}}</td>
                        <td>{{timeCredit.doneHours}}</td>
                        <td>{{timeCredit.lostHours}}</td>
                        <td>
                            {%if timeCredit.cefBegin is not empty%}
                                {{timeCredit.cefBegin}}
                            {%else%}
                                {{label_danger('_NA'|trans)}}
                            {%endif%}
                        </td>
                        <td>
                            {%if timeCredit.cefEnd is not empty%}{{timeCredit.cefEnd}}
                            {%else%}
                                {%if timeCredit.status is constant('STATUS_FULL_FINISHED', timeCredit)%}
                                    {{label_danger('_NA'|trans)}}
                                {%elseif timeCredit.status is constant('STATUS_FINISHED', timeCredit)%}
                                    {{label_warning('_NA'|trans)}}
                                {%else%}
                                    {{label_info('_NA'|trans)}}
                                {%endif%}
                            {%endif%}
                        </td>
                        <td>
                            {%if timeCredit.deadLine is not null%}
                                {%if timeCredit.deadLine|date('Y-m-d') < 'now'|date('Y-m-d')%}
                                    {{label_warning(timeCredit.deadLine|localizeddate('full', 'none', app.request.locale )|capitalize)}}
                                {%else%}
                                    {{timeCredit.deadLine|localizeddate('full', 'none', app.request.locale )|capitalize}}
                                {%endif%}
                            {%else%}
                                {{label_info('_NA'|trans)}}
                            {%endif%}
                        </td>
                        <td>{{('TimeCredit.status.'~timeCredit.status)|trans}}</td>
                        <td>
                            <a class="btn btn-sm btn-info" href="{{path('Admin__timeCredit_edit_get',{'id':timeCredit.id})}}">{{icon('edit')}}</a>
                        </td>
                    </tr>
                    {%else%}
                    <tr>
                        <td colspan="14" class="warning">{{'TimeCredit.dbemptyBuggy'|trans}}</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
                <div class="text-center">{{knp_pagination_render(timeCredits)}}</div>
            </div>
        </div>
    </div>
</div>
{%endblock pagebody_content%}