{%if count != 0%}
<li {%if menu_active=='notif'%} class="active" {%endif%}><a href="{{path("Teacher__default_notifs")}}"> {{icon('bell')}} {{ badge(count) }} {{'_menu.notifs'|trans|raw}} {{icon('bell')}} </a></li>
{% endif %}