<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="ILCWorldSpeak">
<meta name="author" content="Salah Abdelkader Seif Eddine">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{asset('/res/bower_components/fontawesome/css/font-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('/res/bower_components/bootstrap3/dist/css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('/res/bower_components/bootstrap3/dist/css/bootstrap-theme.min.css')}}">
<title>{%if pagetitle_txt is defined%}{{pagetitle_txt}}{%else%}ILCWorldSpeak{%endif%}</title>
</head>
<body>
<h4>{{'TimeCredit.progress'|trans}}</h4>
<br>
<br>
<table style="width: 110%;">
    <tbody>
        <tr>
            <td style="width: 70%">{{'TimeCredit.progress1.pdf'|trans|raw}} :</td>
            <td style="width: 4%">&nbsp;</td>
            <th>{%if timeCredit.progress1 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress1)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.progress2.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.progress2 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress2)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.progress3.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.progress3 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress3)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.progress4.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.progress4 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress4)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.progress5.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.progress5 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress5)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.progress6.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.progress6 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress6)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.progress7.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.progress7 is not null%}<b>{{('TimeCredit.progress.'~timeCredit.progress7)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
    </tbody>
</table>
<br>
<br>
<h4>{{'TimeCredit.levelDesc'|trans}}</h4>
<br>
<br>
<table style="width: 110%;">
    <tbody>
        <tr>
            <td style="width: 70%">{{'TimeCredit.levelDesc1.pdf'|trans|raw}} :</td>
            <td style="width: 4%">&nbsp;</td>
            <th>{%if timeCredit.levelDesc1 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc1)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.levelDesc2.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.levelDesc2 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc2)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.levelDesc3.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.levelDesc3 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc3)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.levelDesc4.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.levelDesc4 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc4)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.levelDesc5.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.levelDesc5 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc5)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.levelDesc6.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.levelDesc6 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc6)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
        <tr>
            <td>{{'TimeCredit.levelDesc7.pdf'|trans|raw}} :</td>
            <td>&nbsp;</td>
            <th>{%if timeCredit.levelDesc7 is not null%}<b>{{('TimeCredit.levelDesc.'~timeCredit.levelDesc7)|trans}}</b> {%else%}<span style="color:red;">{{'_NA'|trans}}</span> {%endif%}</th>
        </tr>
    </tbody>
</table>
{%if timeCredit.improvement1 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit)
or timeCredit.improvement2 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit)
or timeCredit.improvement3 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit)
or timeCredit.improvement4 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit)
or timeCredit.improvement5 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit)
%}
<br>
<br>
<h4>{{'TimeCredit.improvement'|trans}}</h4>
<br>
<br>
<table style="width: 110%;">
    <tbody>
        {%if timeCredit.improvement1 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit) %}
        <tr>
            <td style="width: 100%">{{'TimeCredit.improvement1.pdf'|trans|raw}}</td>
        </tr>
        {%endif%}
        {%if timeCredit.improvement2 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit) %}
        <tr>
            <td style="width: 100%">{{'TimeCredit.improvement2.pdf'|trans|raw}}</td>
        </tr>
        {%endif%}
        {%if timeCredit.improvement3 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit) %}
        <tr>
            <td style="width: 100%">{{'TimeCredit.improvement3.pdf'|trans|raw}}</td>
        </tr>
        {%endif%}
        {%if timeCredit.improvement4 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit) %}
        <tr>
            <td style="width: 100%">{{'TimeCredit.improvement4.pdf'|trans|raw}}</td>
        </tr>
        {%endif%}
        {%if timeCredit.improvement5 is not constant('IMPROVEMENT_NOTREQUIRED', timeCredit) %}
        <tr>
            <td style="width: 100%">{{'TimeCredit.improvement5.pdf'|trans|raw}}</td>
        </tr>
        {%endif%}
    </tbody>
</table>
{%endif%}
{%if timeCredit.lastTeacherReport is not empty%}
<br>
<br>
<h4>{{'TimeCredit.lastTeacherReport.pdf'|trans|raw}}</h4>
{{timeCredit.lastTeacherReport|raw}}
 {%endif%}
<br>
<br>
<hr>
<table style="width: 150%;">
    <tbody>
        <tr>
            <td style="width: 100%">&nbsp;</td>
        </tr>
        <tr>
            <td><b>Département pédagogique</b></td>
        </tr>
        <tr>
            <td><a href="http://www.ilcfrance.com">ILC France</a></td>
        </tr>
    </tbody>
</table>
<br>
<br>
</body>
</html>
